img:not(.no-border) {
    border: 0.25em solid #d0e0ff;
    border-radius: 5px;
    margin:10px;
}

h1,h2,h3,h4,h5,h6 {
    font-family:"Playfair Display",Playfair Display,serif;
}

.btn-primary {
    border-style:solid;
    border-width:0px 1px 4px 1px;
    border-color:#202020;
}

body {
    background-image:url("/images/blackboard_tiled.png");
}
