.card {
  width: 95%;
  margin: 3%;
}

.pager {
  display: inline;
  list-style: none;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

nav#sidebar {
  min-width: 300px;
  max-width: 500px;
}

.pull-right {
  float:right;
}

.pull-left {
  float:left;
}

.pager button {
}

#bottom-next button a {
  color: #FFFFFF;
}

#bottom-next {
  text-align: center;
  margin-bottom: 3em;
}

#index-top-pager {
  text-align: center;
  margin-top: 1em;
}

#index-top-pager a {
  color: #fff;
}

#index-top-pager button {
  margin: 1.5em;
}

img:not(.no-border) {
  border: 0.25em solid #d0e0ff;
  border-radius: 3px;
  margin: 10px;
}

.blog-page {
  border-width: 0.3em;
  border-radius: 3px;
}

.highlight pre.highlight {
  background-image: url(/images/blackboard_tiled.png);
}

.card {
  //margin: 1em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Playfair Display",Playfair Display,serif
}

.btn-primary {
  border-style: solid;
  border-width: 0px 1px 4px 1px;
  border-color: #202020;
}

#mc_embed_signup {
  color: #007bff;
}

.mc_styling {
  margin-left: 5%;
  //width: 90%;
  //background-color: #007bff;
}

body {
  background-image: url("/images/blackboard_tiled.png")
  // Image is from TopTal's subtlepatterns web site
  //background-image: url("../images/creampaper.png");
  //background-image: linear-gradient(rgba(255, 245, 206, 0.20), rgba(255, 255, 255, 0.20)),
  //                  url("../images/creampaper.png");
  //background-color: #fff5ce;
  //font-size: 125%;  // Better to use SCSS to resize...
}

.inset img {
  max-width: 90%;
  height: auto;
}

.inset {
  //min-width: 20%;
  max-width: 40%;
  border: 2px solid white;
  border-radius: 3px;
  font-size: 120%;
  padding: 0.5em;
  margin: 0.5em;
  background-image: url("/images/blackboard_tiled.png")
}

.pull-quote {
  background: #222;
  font-style: italic;
  line-height: 1.2;
  font-size: 120%;
  padding-top: 71px;
  border: 2px solid #600;
  padding: 13px;
  margin: 0 13px 13px 0;
}

.pull-quote p:first-letter {
  font-size: 150%;
  font-weight: bold;
}

.pull-quote footer {
  text-align: right;
}

blockquote {
  margin: 0;
}