.card {
  width: 85%;
  margin: 5%;
}

.pager {
  display: inline;
  list-style: none;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

nav#sidebar {
  //width: 250px;
}

.pull-right {
  float:right;
}

.pull-left {
  float:left;
}

.pager button {
}

#bottom-next button a {
  color: #FFFFFF;
}

#bottom-next {
  text-align: center;
  margin-bottom: 3em;
}

#index-top-pager {
  text-align: center;
  margin-top: 1em;
}

#index-top-pager a {
  color: #fff;
}

#index-top-pager button {
  margin: 1.5em;
}
