---
title: "Mastering Software Technique"
layout: false
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="Noah Gibbs">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Codefol.io" %></title>
    <link rel="stylesheet" href="https://codefol.io/stylesheets/bootswatch.css">

    <script src="/javascripts/jquery-3.3.1.slim.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

    <script src="/javascripts/site.js"></script>

    <style>
img:not(.no-border) {
    border: 0.25em solid #d0e0ff;
    border-radius: 5px;
    margin:10px;
}

h1,h2,h3,h4,h5,h6 {
    font-family:"Playfair Display",Playfair Display,serif;
}

.btn-primary {
    border-style:solid;
    border-width:0px 1px 4px 1px;
    border-color:#202020;
}

body {
    background-image:url("/images/blackboard_tiled.png");
}

    </style>

    <link href="/favicon.png" type="image/png" rel="icon">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-30520713-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-30520713-3');
    </script>
  </head>

  <body>
    <div class="container" style="padding-top: 40px;"><div class="row"><div class="col-1"></div><div class="col-10">

    <h1>Without Software Technique,<br/> Nothing Works</h1>

    <p>
      You _know_ what the code needs to do, in that ugly moment.
      You can _see_ it in your mind... And it's *just*... *NOT*... *doing* it.
      You wrote a little loop, and it's wrong, and you *know* it's wrong.
      You can _explain_ the right code. You just can't _write_ the right code.
    </p>

    <p>
      The blinking cursor is mocking you.
    </p>

    <p>
      What *doesn't* fix that problem? Learning more algorithms.
      Or reading more blog posts. Or more books. Even if you learn all
      the math and computer science, there's a specific technique to
      writing code, and all the study in the world doesn't give it to you.
    </p>

    <p>
      What does? _*Practice*_.
    </p>

    <p>
      The _*right kind*_ of practice. Conscious, mindful practice done well.
    </p>

    <p>
      When everything works, you can just write out the loop. Yeah, you have to
      debug it, but... it's straightforward. You grind through the code for an
      hour and you have an hour's worth of code. You have a problem and, twenty
      minutes later, you wrote a solution and it works.
    </p>

    <p>
      When you're really good, you can just predictably _write_ the code. It
      doesn't have to be an event. You don't wait for inspiration. You just
      do it.
    </p>

    <p>
      How do you get that good? The right kind of practice.
    </p>

  </div></div></div>
  </body>

</html>
