---
title: "Mastering Software Technique"
layout: false
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="Noah Gibbs">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Codefol.io" %></title>
    <link rel="stylesheet" href="https://codefol.io/stylesheets/bootswatch.css">
    <link rel="stylesheet" href="https://codefol.io/stylesheets/monokai.css"> <!-- pygments style -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://codefol.io/javascripts/popper.min.js"></script>
    <script src="https://codefol.io/javascripts/bootstrap.min.js"></script>

    <link href="https://codefol.io/stylesheets/site.css" rel="stylesheet" />
    <script src="https://codefol.io/javascripts/site.js"></script>

    <link href="/favicon.png" type="image/png" rel="icon">

    <!-- Google Analytics - cheap, simple, adequate... -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30520713-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
    <h1>Mastering Software Technique</h1>

    <p>
    </p>

    <p>
      You feel like you, specifically, are missing that certain something. There's a
      hierarchy, and it's based on... technical _something something_&hellip; Maybe if you'd
      gone to a really first-class university for computer science and you knew all
      your algorithms cold? Or if you were one of those people who can hammer out
      a new design immediately, without pausing. Or if you knew all the latest
      libraries and techniques?
    </p>

    <p>
      I have bad news. Even people who go to the latest technical universities
      don't have all the algorithms cold - and they keep coming up with new ones.
      You can't know _*all*_ the JavaScript frameworks, let alone all the
      new software. And yet, somehow, there are people who *do* move up the
      hierarchy and who *can* just handle any problem that comes their way. So it
      can be done. What if _*you*_ could do it?
    </p>

    <p>
      Imagine a problem came up at work - which of these pieces of software do we
      use? And you could simply code up a quick prototype, specific to your exact
      circumstances and your use case. You've heard that "code wins arguments,"
      and you could just... do that. Or perhaps you need an architecture diagram,
      or just a "spike" (prototype) of a new system.
    </p>

    <p>
      Wouldn't you love to just... *do* that? And to be the person others looked
      at when it was *time* to do it?
    </p>

    <p>
      There's a secret to it... And it's so simple it's barely a secret at all.
      Here it is: practice. But *how* do you practice *well enough* to make that
      happen? That's a much more interesting secret.
    </p>


  </body>

</html>
