---
title: "Mastering Software Technique"
layout: mst
---

# Without Software _Technique_,<br/> Nothing Works

<%= aside_image(current_page.url + "images/SittingCoder.png", image_classes: ["no-border"], alt: "Figure at a keyboard, typing and learning", disappear_on_mobile: true, direction: :right, caption: "Without the right practice, you won't be what you want to be.") %>

You _know_ what the code needs to do, in that ugly moment.
You can _see_ it in your mind... And it's *just*... **NOT**... *doing* it.
You wrote a loop, and it's wrong, and you *know* it's wrong.
You can explain the right code. You just can't _write_ the right code.

That blinking cursor is mocking you.

What *doesn't* fix that problem? Learning more algorithms.
Or reading more blog posts. Or more books. Even if you learn all
the math and computer science, there's a specific technique to
writing code, and all the study in the world doesn't give it to you.

What does? _Practice_.

The right kind of practice. Conscious, mindful practice done well.

When everything works, you can just write out the loop. Yeah, you have to
debug it, but... it's straightforward. **You picked up a problem and twenty
minutes later, you wrote a solution and it works**.

When you're really good, you can just predictably _write_ the code. You don't wait for inspiration. You just
do it.

When a problem comes up at work and a prototype would show the right answer?
You can just write one. Need to _verify a design choice_ or test out a data architecture? **Boom, do it**.

How do you get that good? The **_right kind_** of practice.

What's the right kind of practice? **_That's what this book is about_**.

<div class="cta">
    <p>(Already convinced? You can buy it on Gumroad. Full refund if you don't like it.)</p>
    <a class="gumroad-button" href="https://gum.co/mastering-software-technique">Buy the Book on Gumroad</a>
</div>

## But I Already _Do_ Coding Exercises

Yeah, you do. Me too. And they require somebody to have worked them out in advance, right? And they really only work once for each exercise, so you constantly need new ones. And you can't tell in advance if they're any good. You _hope_ you're getting Sandi Metz's "99 Bottles of OOP," but usually you're getting the "Coding Challenge of the Week" to do some little math problem. There's a reason 99 Bottles costs money - I can't name a second set of exercises that good. Can you?

You need practices that don't require a more experienced coder to work it out for you first.

My book gives examples, sure. But the magic happens when you stop doing _my_ examples and you do the things _you_ care about. That's the whole purpose of my practice methods.

## I'm a Professional, I Practice at Work

Yeah, you do. I do too. But you see the same arguments I see about what project to do, and what language or tool to use for it.

That's because the kind of work the business wants is different from the kind of work that makes you better, faster. And the kind of work *you* need is different from the kind of work that *other* developers need.

And so you have to get good at politics, to win those arguments, to get the kind of practice you need... And you'll always know you're doing worse work for the business because you're prioritising *you* over *their money*.

**I don't want to spend my time at work winning at politics. Do you?**

There's a way around that.

Heck, if you tell your employer you're buying this book to get better at coding, **they will probably be thrilled to pay for it**. Do you know how much it costs them when you get stuck for a couple of days?

<!--
1. Hook
2. Dream
3. Pain
4. What they've tried
5. Introduce a solution
6. Overcome objections
-->

<div class="cta">
    <p>This book isn't finished. Which means you get more of my time and attention with every comment or issue you
    have with it. It also means you're getting an earlier advantage - most folks haven't bought it yet. </p>

    <p>All updates are free, naturally. Full refund for any reason or no reason.</p>
    <a class="gumroad-button" href="https://gum.co/mastering-software-technique">Buy the Book on Gumroad</a>
</div>

<div style="height: 50px;"></div>
