---
title: Three Months Into Working for Myself (with numbers)
featured_asset: "thinking_money_laptop_ruby"
featured_caption: "If I do this well enough, I get to keep doing it forever."
---

I started [working for myself](/posts/starting-a-new-adventure/) at the beginning of February, after taking a month off. For close to eight years I sold my book as essentially a hobby business. It made around $40,000 over those years, which certainly isn't terrible. It's been doing slightly better since I started actually putting time into it and making it a priority.

I'm now in a bit of a race. I have some savings, but also a house and a family in Scotland. I started with about enough savings to let me try doing this full-time for a year (this is a revision downward - if the house has more unexpected water leaks, there will be another revision downward.) If I can sell a lot of books (or anything else) then I can extend that runway. If I can sell *enough* of anything, I can keep doing this indefinitely.

I really hope this gets to keep being my job.

Want to see graphs? There's also some reflecting on where the business is at.

Everybody loves graphs that have money on the Y axis.

## So How's Business?

Pretty good! Thanks for asking.

[My previous post](/posts/starting-a-new-adventure/) included all the numbers before I went full-time in February. So let's look from February onward.

Here's how my first book [Rebuilding Rails](https://rebuilding-rails.com) has been doing:

<a href="/posts/three-months-into-working-for-myself/rr_sales_feb_2020.png">
    <img class="img-frame" src="/posts/three-months-into-working-for-myself/rr_sales_feb_2020.png#center" />
</a>

That's... not terrible? It's much better than RR had been doing for the last few years of lamentable neglect I've put it through. Quite a lot of the sales are from an [ongoing Coronavirus/lockdown sale](https://twitter.com/codefolio/status/1254340239625195521).

It's nearly as well as I've been doing on Rebuilding Rails sales in a year, but in 3.5 months. Some of that is the sale, but I'm also pumping out a *lot* of (I think) good content. [This blog](https://codefol.io) has certainly seen a lot more writing and a lot more love, and I've been [creating videos regularly](https://www.youtube.com/channel/UCbeP1YQVlCCYkxM0RqPHrhw) for the first time ever.

More cheerful for me is that my second book, [Mastering Software Technique](https://software-technique.com), has been enjoying some actual sales:

<a href="/posts/three-months-into-working-for-myself/mst_sales_feb_2020.png">
    <img class="img-frame" src="/posts/three-months-into-working-for-myself/mst_sales_feb_2020.png#center" />
</a>

(These numbers are all converted to US dollars, because that's how Gumroad presents them. But MST is actually priced in Great British Pounds. Rebuilding Rails, my older book, is priced in US dollars.)

This is good! The book is still incomplete and in pre-sale, though not for much longer. These numbers strongly suggest that people think there's something there. They also strongly suggest that the sales page isn't unusually terrible. And if MST works like RR, there will likely be a nice surge of sales when I stop labelling it "early pre-sale" and start calling it a finished book.

I'm glad of all that. I've put together a lot of writing, speaking and video about MST and how its techniques can help you develop software. It's always nice to see that somebody finds my argument compelling, you know?

That also brings the total for the time I've been working full-time to around $4,100 between both books. That's not going to add a year of living expenses (or anywhere close) even in Inverness. But it's a start.

## Where is the Business At?

My sales funnel is mostly vertical. I add very few new people. A *lot* of them decide to buy.

Here's one way I could interpret that: "my products are awesome. Also, very few people are interested in learning what I teach, but then they find me and buy."

I'm pretty sure that's not true. Here's another interpretation: "I don't successfully submit my blog posts anywhere that people see them. I have a some people who really like me, but they mostly already own my products. Occasionally people stumble across me, and pretty frequently then buy something."

That is, I'm pretty sure, *much* closer to the truth.

It's a marketing truth, so it's approximate and statistical. But I think it's basically right.

Over the last few months I've been going back and doing things that I should have done long ago. Better templates for my blog and both book sites. Blog posts I've meant to write forever. Regular schedule and a month backlog for blog posts. Getting my second book content-complete. Getting to the point of making tolerable videos, and making a few.

(Much of the complaining about me that I receive is about how I don't look very professional. Let's be clear: I do not. I feel I'm now solidly "semi-pro"-looking after several major upgrades.)

If I'm optimistic, my business is now in much better shape, I've fixed up a lot of older problems, and now I just need to get it in front of more people.

Somehow.

## Say, How *Are* Those Traffic Numbers?

As of this moment I have 1,771 Twitter followers. That's not a lot, but it's up by around 200 from February. I've done a few things that seem to help, including finally having a pinned Tweet for that sale.

I have recently added a Slack channel. It's at around 260 people and pretty decent activity. That's *great* for more interaction with my existing folks, and does me no real good as far as adding new customers. You may notice that as a pattern: I serve my existing folks really well, and I'm not good at adding new ones.

I've started emailing my list every two weeks, sending out all these lovely new articles and videos. I've lost a few folks as I send more, but I'm nearly unchanged from February for list subscribers (1703 right this second.)

Here's my recent overall traffic courtesy of Google Analytics:

<a href="/posts/three-months-into-working-for-myself/2020_dec_to_may_traffic.png">
    <img class="img-frame" src="/posts/three-months-into-working-for-myself/2020_dec_to_may_traffic.png#center" />
</a>

What does that show? Always a bit hard to tell with Google Analytics, but I'm pretty sure the upshot is this:

I'm getting more traffic lately from my existing audience. A lot of the other traffic is web searches that don't turn into subscribers or purchases, which is fine &mdash; for instance, I have an old post [explaining the difference between deployment, orchestration and provisioning](https://codefol.io/posts/deployment-versus-provisioning-versus-orchestration/) which gets a significant percentage of my total site traffic, has never gotten me an email subscriber, and I can't imagine how it ever would.

But one thing I do *not* see is particular spikes from interesting content that I've written. My stuff is basically just not getting posted anywhere. That's fair. For awhile I was writing things even I wasn't posting, and now I'm writing things that are still poorly adapted for the channels I have to work with.

(What about that spike in early April? It didn't come with unique users. That looks like it was just a lot of pageviews from a few users binge-reading. Which makes me happy, but isn't going to sell ebooks.)

In other words, it's time to start writing specifically for one channel or another, because I'm not going to suddenly get a lot of word-of-mouth spread without that.

Fair, you know?

One amusing thing I noticed while checking my graphs: turns out I had a minor spike of new users from Hacker News back in December. It sent a bit over a thousand new people my way. But it was Hacker News - I got two nasty trolls, few comments, and no subscribers or purchases. But mostly I didn't even notice. I monitor my email subscribers closely, my Twitter followers occasionally, new purchases instantly... And my traffic numbers barely at all if they're just page views.

## Subscriber Numbers?

Flat, trending slowly down. I expected a larger loss when I was ressurrecting an ancient list. But I was also hoping to see some gains, and mostly that hasn't happened. This is a graph for the last 12 months.

<a href="/posts/three-months-into-working-for-myself/2019_2020_subscribers.png">
    <img class="img-frame" src="/posts/three-months-into-working-for-myself/2019_2020_subscribers.png#center" />
</a>

This is the graph that needs to turn upward if this is going to be a viable business. That and/or I need to sell more to the same folks &mdash; more on that in a moment.

[My Twitter account](https://twitter.com/codefolio) is slowly adding followers. And it sells books at a nonzero rate. But the rate is not high.

## What's Coming Up?

I'm thrilled with a lot of recent things I've written. Some big ideas, some career advice, a little business and entrepreneurial info (like this post) and a lot of "how to get better at practicing coding" for Mastering Software Technique.

What does all that have in common? I have nowhere obvious to post it to get attention. There's my newsletter, but that's entirely people who already know about me. I'm working on finding places for the "practicing coding" bits, but so far without luck. Mastering Software Technique was written based on talking to people in person and, frankly, there may not be good online forums to sell it. All of this is stuff I've wanted to write for a long time that I didn't do proper Sales Safari on (to use Amy Hoy's terminology.) I need to be writing things I can use as advertisement, pointed at very specific online forums and their preferences.

I could mess around for another eight months until I run out of money trying to get these things to work. Or I could buy myself more runway by doubling down on the Rebuilding Rails audience I have. I had a plan to try to sell in-person workshops to them as a (possibly temporary) way to make that transition and then COVID and lockdown happened. So: that's not happening soon, and maybe not ever.

I put together a workshop, a sort of streamlined and abbreviated in-person version of Rebuilding Rails, for RailsConf ([slides here](https://speakerdeck.com/noahgibbs/build-your-own-framework-to-understand-rails-magic)). I recently turned it into a one-hour video (it's shorter when I don't need to help forty-to-a-hundred people all debug their web frameworks in person.)

I think that's going to become the basis of a more expensive tier of Rebuilding Rails, a video class. In fact, I think the video I just recorded will become an intermediate tier, the first third-to-half will become something I give away as a free trial, and another couple of units will be the premium version.

I have a lot of customers who are very happy with me, often have budget from their job, and can only express that up to about $60, maximum, currently. That has to change.

I also need to write a lot more clearly Ruby-focused and Rails-focused content. Even for, say, Mastering Software Technique, which isn't at all Ruby-specific as a technique, needs to get a lot of very specific "how to improve at Ruby"-type posts rather than my current ones with titles like ["How to Commit to Mastery"](http://codefol.io/posts/how-to-commit-to-mastery/). I'm writing really good, very general posts that could help nearly any programmer. I need to stop that. Instead, I should be writing narrow, specific posts that play well on Ruby-specific blogs and similar. Marketing is a harsh mistress. I can write things that make me happy later, after I'm making a good living doing the bits that sell well.

On the plus side, I'm now very well positioned to do that. So it's time to put up or shut up.
