---
title: "The Fear of Wasted Practice Time"
mc_signup: technique
---

<%= aside_image("/images/SuperPrincess.png", alt: "My teddy bear, drawn roughly in chalk.", disappear_on_mobile: true, direction: :right, caption: "She's lovely, but she's not the same as me practicing my voice exercises from the <a href=\"https://www.amazon.co.uk/Right-Speak-Performance-Books/dp/1472573021/\">Patsy Rodenburg book</a>.") %>

My kids are mercifully distracted for a few moments. The giant jumble of colored blocks on my calendar has a gap right now. No due dates are marked in red in my overgrown to-do list.

I am free to practice. I have skills I certainly *want to* practice.

And here I am, staring dully at the teddy bear next to my monitor, not practicing. Why? Here's one: I am afraid of wasting this precious practice time, of throwing it away on nothing worthwhile.

What if I'm practicing *wrong*? What if there's some better way to do it, and I'll be sad that I bothered? What if I'm a sucker because I'm putting in hours that do me no good?

I can't magic my fear away, but I can talk through it and explain it. I always feel better afterward. Care to come with me on this little journey?

READMORE

## Time Well-Wasted

I'm a software developer, and [I see the world through a very specific lens](https://codefol.io/posts/water-we-swim-in-software-developer-mindset). It gives me specific strengths, and specific blind spots. Here's one of my blind spots: it bothers me when I feel like I'm being inefficient. When I spend four hours trying to make a language or tool do something, and there was a five-minute solution that I just missed, I absolutely ***rage*** about it.

Maybe that bothers you too?

Like, recently I started trying to figure out [Godot](https://godotengine.org/), which seems like a basically good game engine. And I was going through a tutorial for it, putting together UI. And a window failed to align right on resize, and I spent three hours trying to get it to work. And it didn't.

It's not rational. I *did* learn a lot in that three hours. I learned useful, interesting stuff about Godot's UI. But if I'm driven by working on some specific problem, that's three hours that didn't accomplish what I set out to do.

That's the dark side of learning by doing &mdash; documentation rage is expected. Everything is a tradeoff.

(Not that it feels good at the time, of course.)

But the flip-side is that in that "wasted" time you actually learned a lot. You just didn't learn what you *wanted* to learn. It's frustrating, but it's productive. In fact, often it teaches you all that debugging that you sat down with this new tool in order to learn.

Incidentally, I re-did the tutorial, in (I thought) the same way, and it suddenly worked. And from there I could figure out what I did wrong last time. Argh! Next time it'll take me a lot less than three hours to find the problem. Also, I'll grit my teeth and possibly swear while I do it, but I'll grit my teeth and swear *faster* than before.

## But What About Learning Wrong?

<%= aside_image("/images/BadPractice.png", alt: "A figure hitting a basketball from the ground with a tennis racket.", disappear_on_mobile: true, direction: :right, caption: "Surely this gentleman's golf game will improve rapidly and with no difficulties.") %>

Some of the most frustrating time is time that is *really* wasted, in the sense that I learned the wrong thing, or learned a thing wrong.

I might have learned a feature and then discovered it's for some completely other purpose. Or I'm never going to use it because it just doesn't work very well.

This is the fear that stops me the most often. The problem, I think, is that I'm too optimistic. If I were a pessimist I would say to myself, "well, I'm going to make some mistakes while I figure this out, and I'm going to have some wasted time." Instead it surprises me, over and over, and I get frustrated over it.

And so sometimes I don't get started, because I worry.

The solution, of course, is *more* worry.

I *will* make some annoying mistakes and I *will* waste some time, but I have to start practicing. If I don't, then I'm guaranteed to fail completely instead of failing partially.

## Fear of the Next Step

<%= aside_image("/posts/no-such-thing-as-knowing-coding-all-the-way-to-the-bottom/ScaresYou.png", alt: "A figure walking past a gigantic toad, whistling nonchalantly.", disappear_on_mobile: true, direction: :right, caption: "That's not fear, it's just excessive panache.") %>

Right now I'm supposed to be practicing voice exercises, which with luck will help me on video. [I like my voice](https://www.youtube.com/watch?v=33fAzjOTaDE), but everybody can always get better.

Of course, what I ***think I should*** be doing is to make more videos for you lovely folks. Instead, I'm doing voice exercises because I don't have to face the yawning silence of nobody caring about my videos.

Sometimes if you don't practice, you get to avoid ***something else you're afraid of***. And sometimes if you practice, you'll do that instead of that next step. Either way you win&hellip; sort of. But either way, you get out of the next step.

## What's To Be Done?

Talking through the fear is okay. Worrying more? Sure, that feels easy.

But what is there to do?

Not much, as it turns out.

You know what you're afraid of. And you've acknowledged it. Now think back on why you *do* want to do this.

If your motivation is stronger than your fear, you'll do it.

And if not, you'll procrastinate. I've been enjoying [Oxygen Not Included](https://store.steampowered.com/app/457140/Oxygen_Not_Included/), but you do you.
