---
title: "Rebuilding Mechanicsburg: Gross Anatomy"
tags: girlgenius
---

I'm continuing my blog posts on Mechanicsburg, in the Girl Genius webcomic.
It will probably make more sense if you [start from the beginning](https://codefol.io/posts/rebuilding-mechanicsburg-agathas-arrival/).

It's really obvious from [some of the comics](https://www.girlgeniusonline.com/comic.php?date=20120201) that the authors have a strong idea of Mechanicsburg's geography. They probably have fun sketchy maps that they're working from. The different views of the city often have really consistent interesting landmarks. You can sometimes [see Castle Heterodyne from one side](https://www.girlgeniusonline.com/comic.php?date=20070321) and [sometimes see it from the opposite](https://www.girlgeniusonline.com/comic.php?date=20220930).

But they don't share those maps.

I get it. They like to hint at things, and to have a lot of flexibility. Reasonable.

But also, for a role-playing game, I need to more or less recreate it.

So what do we know about the major anatomy of Mechanicsburg, and where everything is inside it?

## Pictures at an Exhibition

We get a few big views across Mechanicsburg, most prominently [this first](https://www.girlgeniusonline.com/comic.php?date=20070319) [two-page spread](https://www.girlgeniusonline.com/comic.php?date=20070321).

You'll occasionally see Castle Heterodyne in the background as well, and we can figure out a bit of positioning from which side we're seeing and where we see it. For instance, [it's visible from the Toad Gate](https://www.girlgeniusonline.com/comic.php?date=20220930) but from roughly the opposite side from the first big two-page view.

In the big spread, what do we see? The Castle, obviously. The Red Cathedral is pretty prominent. The area off to the left with a windmill, smokestacks and a wall around it is [pretty clearly the Court of Gears as described by Ivo Sharktooth](https://www.girlgeniusonline.com/comic.php?date=20170908).

We have occasional other clear pictures of the area around Mechanicsburg, but not many. Most pictures don't have a giant aerial view, because why would they? Even pictures on board airships tend to feature the characters and the airship, not the ground.

## Major Locations

Sharktooth mentions [the Hospital District, the Greens, the Field of Weights, the Tumbles and the Court of Gears](https://www.girlgeniusonline.com/comic.php?date=20170908). We also know about Castle Heterodyne, the source of the River Dyne. There's the Red Cathedral, connected to underground locations like the Crypts. Various city gates are mentioned at different times. And for now I'll ignore places that are mentioned just once or twice (the Bone Quarter, the North Windings, the Snarling Labyrinth and many others) since they don't help us get our large-scale geography sorted.

There are several gems in the text rather than the pictures that help. For instance, [during the Siege there's an update on troop movements](https://www.girlgeniusonline.com/comic.php?date=20120201):

    Agatha: What about that group in the North Windings?
    Vitriox: The Dark Light Guards? They're putting up a strong resistance, but they're falling back to the East.
    Agatha: Perfect. With the Dyne to the South, they'll funnel into the Greens...
    Vanamonde: Where they'll have no cover at all.
    Krosp: Now you're *sure* they won't take the Cathedral?
    Vanamonda: Oh, I *really* hope they try.

This tells us a lot in a really condensed way. The North Windings are going to be in the North. The Dyne is South of there somewhere &mdash; which makes sense, its source is Castle Heterodyne in the rough centre of town. Going East, they get to the Greens. And the Cathedral is nearby, so presumably in the North part of town. Now go back and look at [that two-page](https://www.girlgeniusonline.com/comic.php?date=20070319) [spread](https://www.girlgeniusonline.com/comic.php?date=20070321) knowing that the Cathedral is in the North.

It ***is*** very annoying that you can't see the path of the Dyne in that picture. But knowing it flows from the Castle helps a bit. It may well run under the Castle, and the waterfall may only be a small part of its waters.

## Monsters at the Gates

We also get some descriptions of where Mechanicsburg's various gates are.

The big two-page spread is seen from near the Main Gate, sometimes referred to in the wiki as the River Gate, where Agatha first entered. Just outside that gate is a bridge over the big river, presumably the Dyne.

The Toad Gate is roughly on the opposite side of town, as judged by its view of Castle Heterodyne. We're told it's the nearest to the train and airship yards.

After Jorgi and Andre talk about landing at the Monsters Gate, the Jagermonsters come in via Mechanicsburg's "Eastern Gates", and so presumably the Monsters Gate is in the East. We hear about big plains East of the city, and presumably the Monsters Gate leads to those plains.

The Black Gate may be far from the Main Gate based on its [signs like "Trade Entrance, Invade in Front"](https://www.girlgeniusonline.com/comic.php?date=20071116). But it's hard to tell if the Main Gate would be the preferred gate for invasion since it's on a side with mountains, or if it's easier to bring your army up to the Eastern Gates [as did X the Destroyer](https://www.girlgeniusonline.com/comic.php?date=20071217). But the Jagers in that comic are talking about "this" big open plain in front of the town and how armies invade. So maybe the Black Gate is quite close to the preferred invasion gate? They also refer to scenes where Agatha and Herr Diamant are watching Gil as [being on the Eastern Walls of Mechanicsburg](https://girlgenius.fandom.com/wiki/Chronology_-_Volume_VII), so perhaps the Black Gate is also fairly Eastern.

The Jagers take Gil in via the "Sneaky Gate" to Mama Gkika's, and that one is clearly quite close to the Black Gate. So presumably in the East?

Several gates aren't named. The Wulfenbach troops flee from a gate where there's a gap in the thorn hedge, and there's a gate where a battering ram attacks, and where Franz fights another dragon. But it's not clear where either of these gates are, or what they're called.

## Putting It All Together

I'm going to have to put together a map for my campaign. So what does this all look like, when I put it together?

<img src="Mechanicsburg-spread.webp" width="650" height="331" />

Based on the information above with where the Cathedral, North Windings, etc. can be found, I'm assuming the Main Gate leads into the Southwest corner of town. The Cathedral, North Windings and Greens are all up North, and the Court of Gears is visibly in the Northwest corner of town.

The Dyne must flow out of the Castle, then be the Southern border that prevents going South from the North Windings, instead requiring invaders to move East into the Greens. It's not visible, but you could imagine it there, behind other visible parts of the picture.

Mountains surround the town to the North and West and possibly somewhat around the South. The Monsters Gate and the Black Gate are both canonically on the East side of the city. I choose to interpret the Black Gate's "invade in front" sign as pointing to the Monsters Gate, the big entrance to the city on the Eastern side.

If the Main Gate is on the South end of town, and the Toad Gate is roughly opposite it in town, plus the Castle is a bit to the right when you look through the gate at it... I choose to interpret that as the Toad Gate being in the Southeast of town.

If you go straight in from the Main Gate, [you'll get to a statue of the Heterodyne Boys](https://www.girlgeniusonline.com/comic.php?date=20070316), then turn left to get to the Great Hospital. There's some room for interpretation there (what direction were they initially facing?) but you can see my interpretation below.

Which leaves questions like "where is the Field of Weights?" and "where is the Tumbles?" I feel like the East side of town is pretty barren, so I've put the Tumbles in the Northeast. The Main Gate and Black Gate ("trade entrance") are both on the South side of town, and the view from the Main Gate looks pretty tourist-friendly. So I've put the Field of Weights on the South side of town. Something has to be, and I'd expect the Field to be fairly large.

Click the map below for the big version of my interpretation. And the downriver snail farms are, alas, not yet canon.

<a href="Mechanicsburg Map 1600.png">
  <img src="Mechanicsburg Map 400.png" width="400" height="300" />
</a>