<p class="hero-avatar"><img src="https://codefol.io/images/noah_chalk_face_600_800.png" alt="Noah Gibbs's picture in chalk" class="avatar" /></p>
<h2 class="hero-title">I'm a Animated Chalk Character</h2>
<p class="hero-description">Not Really, But I'm Putting This Together on a New Theme.</p>
<%= partial "social-links" %>
