<header id="masthead" class="site-header outer">
    <div class="site-header-inside">
        <div class="site-branding">
            <p class="site-logo"><a href="https://codefol.io/" rel="home"><img src="/images/codefolio_book_transparent_160_102.png" alt="Codefol.io book logo" /></a></p>
            <h1 class="site-title screen-reader-text"><a href="https://codefol.io" rel="home">Codefol.io</a></h1>
        </div><!-- .site-branding -->
        <nav id="main-navigation" class="site-navigation" aria-label="Primary Navigation">
            <ul class="menu">
                <li class="menu-item"><a href="/posts">All Articles</a></li>
                <li class="menu-item"><a href="/topics">Articles by Topic</a></li>
                <li class="menu-item"><a href="/tags/favourite">Favourite Articles</a></li>
                <li class="menu-item"><a href="/feed.xml">RSS</a></li>
                <li class="menu-item"><a href="/about">About</a></li>
            </ul>
        </nav><!-- .site-navigation -->
    </div><!-- .site-header-inside -->
</header><!-- .site-header -->