<% unless current_page.data.no_newsletter %>
<section id="bottom-newsletter-box" class="newsletter-box inner-wide">
    <div class="inner">
        <h2 class="newsletter-box-title">You Hunger to Get Better</h2>
        <p>
            Subscribe to get free ebook chapters and an emailed coding class now, plus videos and articles a few times a month.
        </p>
        <p>
            Why this specific newsletter? <i><b>You want to be an expert</b></i>. Expertise comes from learning the fundamentals, deeply. And that comes from the best kind of practice.
            I write with that in mind. I won't waste your time.
        </p>
        <p>
            (Yes, I also sell things. They're good, but I'm fine if you don't buy them.)
        </p>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
            <form action="https://rebuilding-rails.us2.list-manage.com/subscribe/post?u=c5569fb6471a3e64be2aa1466&amp;id=82afd59934&amp;SIGNUP=codefolio_newsletter_box_default" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate gh-subscribe-form" target="_blank" novalidate>
                <label for="mce-EMAIL" class="screen-reader-text">Email Address</label>
                <input type="email" value="" name="EMAIL" class="required email subscribe-email" id="mce-EMAIL" placeholder="Your email address">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </form>
        </div>
        <!--End mc_embed_signup-->
    </div><!-- .inner -->
</section><!-- .widget -->
<% end %>
