<aside id="sidebar" class="sidebar">
	<div class="sidebar-scrollable">
		<div class="sidebar-inside">
			<button id="sidebar-hide" class="sidebar-toggle"><span class="screen-reader-text">Close Sidebar</span><span
				    aria-hidden="true" class="icon-close"></span></button>
			<%= partial "widgets" %>
		</div><!-- .sidebar-inside -->
	</div><!-- .sidebar-scrollable -->
</aside><!-- .sidebar -->