<p class="social-links">
    <a href="https://twitter.com/codefolio" target="_blank">
        <span class="fa-twitter fa" aria-hidden="true"></span>
        <span class="screen-reader-text">Twitter</span>
    </a>
    <a href="https://github.com/noahgibbs" target="_blank">
        <span class="fa-github fa" aria-hidden="true"></span>
        <span class="screen-reader-text">GitHub</span>
    </a>
    <a href="https://www.linkedin.com/in/noahgibbs" target="_blank">
        <span class="fa-linkedin fa" aria-hidden="true"></span>
        <span class="screen-reader-text">Linkedin</span>
    </a>
   <a rel="me" href="https://ruby.social/@codefolio">Mastodon</a>
</p>
