---
title: "Codefol.io, Later-Than-Latest Posts"
layout: horace_default
comments: false
---

<div class="outer">
    <div class="post-feed-title inner">Latest Articles</div>

    <div class="post-feed inner-wide">
      <% blog.articles.each_with_index do |article, i|
           next if is_published(article)
        %>
        <%= partial "postbox", locals: { post: article } %>
      <% end %>
    </div>
</div>

<%= partial "newsletter-box" %>
